<header class="inner-PageHeader">
  <div class="inner-SectionHeader" style="background-image:url({{ section.settings.ourcommitmentbanner | img_url:'1024x'}});">
    <h1 class="inner-SectionHeader__Heading">{{ page.title }}</h1>
  </div>
</header>
{% schema %}
  {
    "name": "Our Store Banner Image",
    "settings": [
		{
          "type": "image_picker",
          "id": "ourcommitmentbanner",
          "label": "Banner image"
        }
	]
  }
{% endschema %}
