<div class="Container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
    </div>
  </header>
  <div class="PageContent PageContent--extraNarrow">
      <div class="container">
      {% if customer %}
          <div id="wm_wishlist_table">
              {{ page.content }}
          </div>
      {% else %}
        <div class="Form__Hint Form__Hint--center">
              <span class="Text--subdued">You must login</span>
                  <a href="{{ routes.account_login_url}}" class="Form__Submit Button Button--primary Button--full">Login</a>
          </div>
          <div class="Form__Hint Form__Hint--center">
              <span class="Text--subdued">Don't have an account?</span>
                  <a href="{{ routes.account_register_url}}" class="Link Link--secondary">Create one</a>
          </div>
      {% endif %}
      </div>
  </div>
</div>
