{% section 'page-history-header-image' %}
<div class="inner-page-outer">
  <div class="Container">
    {% render 'breadcrumbs' %}
    {% section 'page-history-video' %}    
    {% comment %}
    {% section 'page-history-image-slide' %}
    
    {% section 'page-history-image-slide-custom1' %}
   	{% section 'page-history-image-slide-custom2' %}
    {% section 'page-history-image-slide-custom3' %}
    {% endcomment %}
    {% section 'page-history-craft-template' %}
    {% section 'page-history-faq-template' %}
  </div>
</div>