<div class="season-page-outer">
  <div class="Container">
    {% render 'breadcrumbs' %}
    
    <h1 class="inner-SectionHeader__Heading">{{ page.title }}</h1>
    
    {% section 'season-preview-women-section1' %} 
    {% section 'season-preview-women-section2' %}
    {% section 'season-preview-women-section3' %}
 
  </div>
</div>